#bear {
    position: absolute;
    left: 100px;
    /*top: 240px;*/
    width: 100px;
    height: 160px
}

#board {
    position: absolute;
    height: 600px;
    width: 1200px;
    background-color: rgb(6, 136, 119);
    align-content: center;
    align-self: center;
}

#title {
    background-color: rgb(128, 128, 128);
    align-content: center;
    align-self: center;
}

#scores {
    background-color:white rgb(247, 166, 134);
    align-content: center;
    align-self: center;
}

.location {
    color: green;
}

#hits {
    color: red;
}

#duration {
    color: blue;
}
/* done */